# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages that Data Science use.
- List libraries used by Data Sceince.
- List development environment open source tools used in Data Science.
- Do mathematical operations.

Some of the popular languages that Data Scientists use are:
    
1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. ggplot
3. NumPy
4. Matplotlib
5. Tensorflow
6. Keras
7. dplyr

Data Science Tools|
-------------------
Jupyter
Apache Spark
R Studio

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
(3*4)+5   #This a simple arithmetic expression to mutiply then add integers.

17

In [5]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Authour
Mmathapelo Matsobe